<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WeatherStation.Properties.Settings.WeatherStationConnectionString"
            connectionString="Data Source=|DataDirectory|\MyDatabase#2.sdf;Persist Security Info=True"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="WeatherStation.Properties.Settings.WeatherStationDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\WeatherStationDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>